APP_NAME="Portafolio Profesional"
APP_ENV=local
APP_KEY=base64:wb5VYXfH0xv1MitFP9on8fyBetfAGcOo/XpvGu+yE78=
APP_DEBUG=true
APP_URL=https://www.nennge.me  # Reemplaza por tu dominio (usa https si tienes SSL)

# ---- CONFIGURACIÓN DE BASE DE DATOS ----
# Si usas el Docker Compose del proyecto:
DB_CONNECTION=mysql
DB_HOST=fintech-db       # Nombre del servicio MySQL en el docker-compose
DB_PORT=3306
DB_DATABASE=fintech_db
DB_USERNAME=fintech_user
DB_PASSWORD=fintech_password  # La contraseña que definiste en docker-compose

# Si NO usas Docker y corres MySQL directamente en el servidor:
# DB_HOST=127.0.0.1
# DB_DATABASE=nombre_de_tu_bd_local
# DB_USERNAME=tu_usuario_bd_local
# DB_PASSWORD=tu_contraseña_bd_local

# ---- DRIVERS DE SESIÓN Y CACHE ----
# Laravel 13 usa la base de datos por defecto para sesiones y colas, lo cual es ideal
SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database

# ---- CONFIGURACIÓN DE LOGS ----
LOG_CHANNEL=stack
LOG_LEVEL=error # En producción es mejor solo registrar errores
